<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход — SchoolSystem</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="center-container">
    <div class="card">
        <h2>Вход в SchoolSystem</h2>

        <form method="post" action="/login">
            <input class="input" type="text" name="username" placeholder="Логин" required>
            <input class="input" type="password" name="password" placeholder="Пароль" required>

            <button class="btn" type="submit">Войти</button>
        </form>
    </div>
</div>

</body>
</html>